[submodule "other_ws/llm_chat_robot"]
	path = other_ws/llm_chat_robot
	url = git@github.com:Garage-at-EEE-More-Robot/llm_chat_robot.git
[submodule "ros2_ws/src/morerobot_docking"]
	path = ros2_ws/src/morerobot_docking
	url = git@github.com:Garage-at-EEE-More-Robot/morerobot_docking.git
[submodule "ros2_ws/src/moretea_arm"]
	path = ros2_ws/src/moretea_arm
	url = git@github.com:Garage-at-EEE-More-Robot/moretea_arm.git
[submodule "ros2_ws/src/head_pubsub"]
	path = ros2_ws/src/head_pubsub
	url = git@github.com:Garage-at-EEE-More-Robot/head_pubsub.git
[submodule "other_ws/head_motor"]
	path = other_ws/head_motor
	url = git@github.com:Garage-at-EEE-More-Robot/head_motor.git
[submodule "ros2_ws/src/linorobot2_hardware_hippo_esp32_fix"]
	path = ros2_ws/src/linorobot2_hardware_hippo_esp32_fix
	url = git@github.com:Garage-at-EEE-More-Robot/linorobot2_hardware_hippo_esp32_fix.git
[submodule "ros2_ws/src/linorobot2_humble"]
	path = ros2_ws/src/linorobot2_humble
	url = git@github.com:Garage-at-EEE-More-Robot/linorobot2_humble.git
[submodule "other_ws/online_teleop"]
	path = other_ws/online_teleop
	url = git@github.com:Garage-at-EEE-More-Robot/online_teleop.git
[submodule "ros2_ws/src/micro_ros_setup"]
	path = ros2_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup
[submodule "ros2_ws/src/xv_11_driver"]
	path = ros2_ws/src/xv_11_driver
	url = https://github.com/mjstn/xv_11_driver
[submodule "ros2_ws/src/teleop_twist_keyboard"]
	path = ros2_ws/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
